<h1>WELCOME TO OUR COUPON APPLICATION</h1>

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>Coupon Generator</b> Exclusive coupons for all</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#Coupons" class="w3-bar-item w3-button">Coupons</a>
                <a href="#about" class="w3-bar-item w3-button">About</a>
                <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="/views/pages/img/walgreens.png" alt="Coupon Application" width="1500" height="800" />
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white">
                <span class="w3-padding w3-black w3-opacity-min"><b>Coupons</b></span>
                <span class="w3-hide-small w3-text-black">Exclusively for you</span>
            </h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">
        <!-- Project Section -->
        <div class="w3-container w3-padding-32" id="Coupons">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
                Partnered Websites
            </h3>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <form action="walgreens">

                        <input class="btn_3 button-contactForm" type="submit" value="Walgreens" />
                    </form>

                    <img src="/views/pages/img/walgreens.png" alt="Walgreens" style="width:100%" />
                </div>
            </div>

            <!-- About Section -->
            <div class="w3-container w3-padding-32" id="about">
                <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
                    About
                </h3>
                <p>
                    Welcome to Coupon Application

                    Coupon Application is an application capable of generating the best and up to date coupons from
                    various
                    websites in order to gain a hassle free and save money.
                </p>
            </div>

            <div class="w3-row-padding w3-grayscale">
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <img src="/w3images/team2.jpg" alt="John" style="width:100%" />
                    <h3>User reviews</h3>
                    <h3>John Doe</h3>
                    <p class="w3-opacity">CEO & Founder</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>

                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <img src="/w3images/team1.jpg" alt="Jane" style="width:100%" />
                    <h3>User reviews</h3>
                    <h3>Jane Doe</h3>
                    <p class="w3-opacity">Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>

                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <img src="/w3images/team3.jpg" alt="Mike" style="width:100%" />
                    <h3>User reviews</h3>
                    <h3>Mike Ross</h3>
                    <p class="w3-opacity">Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>

                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <img src="/w3images/team4.jpg" alt="Dan" style="width:100%" />
                    <h3>User reviews</h3>
                    <h3>Dan Star</h3>
                    <p class="w3-opacity">Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>

                </div>
            </div>

            <!-- Contact Section -->
            <div class="w3-container w3-padding-32" id="contact">
                <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
                    Contact
                </h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.7957368992193!2d-74.02824293526676!3d40.74451994456265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259de4386e9cd%3A0xb81adb9887051c95!2sStevens%20Institute%20of%20Technology%2C%20Campus%20Police%20Station!5e0!3m2!1sen!2sus!4v1576338692038!5m2!1sen!2sus"
                    width="1120" height="480" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <form action="contactus">
                    <input class="btn_3 button-contactForm" type="submit" value="AJAX Form" />
                </form>
                <p>Lets get in touch and talk about your views on our Coupon Generator.</p>

            </div>


            <!-- Image of location/map -->
            <div class="w3-container">
                <img src="/views/pages/img/walgreens.png" class="w3-image" style="width:100%" />
            </div>

            <!-- End page content -->
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-16">
            <p>
                Powered by
                <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
                    class="w3-hover-text-green">w3.css</a>
            </p>
        </footer>
</body>

</html>