<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h1>Macys</h1>
                        <p>Home<span>-</span> Partners <span>-</span> Macys</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<div class=cat-header>
    <h3>Department Sale</h3>
</div>
<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">20% off Time to Shop Event + Shop 1000s of Gift Specials + Free Shipping at
                $25</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang=https://www.macys.com/ data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>
    <div class="shopnow">
        <a href="https://www.macys.com/" data-navigation-id="22869" target="_blank" class="button secondary ghost"
            title="Shop Now at Macy's" data-click-category="Store Page" data-click-action="Click coupon shop now cta"
            data-click-label="Macy's">
            Shop Now
        </a>
    </div>
</div>

<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">20% off Time to Shop Event + shop 1,000s of gift specials + free shipping.</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang="https://www.macys.com/" data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>
    <div class="shopnow">
        <a href="https://www.macys.com/" data-navigation-id="22869" target="_blank" class="button secondary ghost"
            title="Shop Now at Macy's" data-click-category="Store Page" data-click-action="Click coupon shop now cta"
            data-click-label="Macy's">
            Shop Now
        </a>
    </div>
</div>

<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">Up to 50% + Extra 15% off Bath Accessories.</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang="https://www.macys.com/" data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>
    <div class="shopnow">
        <a href="https://www.macys.com/" data-navigation-id="22869" target="_blank" class="button secondary ghost"
            title="Shop Now at Macy's" data-click-category="Store Page" data-click-action="Click coupon shop now cta"
            data-click-label="Macy's">
            Shop Now
        </a>
    </div>
</div>

<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">Up to 60% + Extra 15% off Shower Curtains.</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang="https://www.macys.com/" data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>
    <div class="shopnow">
        <a href="https://www.macys.com/" data-navigation-id="22869" target="_blank" class="button secondary ghost"
            title="Shop Now at Macy's" data-click-category="Store Page" data-click-action="Click coupon shop now cta"
            data-click-label="Macy's">
            Shop Now
        </a>
    </div>
</div>

<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">40% + Extra 20% off Girls' Character Tees.</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang="https://www.macys.com/" data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>
    <div class="shopnow">
        <a href="https://www.macys.com/" data-navigation-id="22869" target="_blank" class="button secondary ghost"
            title="Shop Now at Macy's" data-click-category="Store Page" data-click-action="Click coupon shop now cta"
            data-click-label="Macy's">
            Shop Now
        </a>
    </div>
</div>

<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">Up to 60% + Extra 15% off Bath and Accent Rugs.</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang="https://www.macys.com/" data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>
    <div class="shopnow">
        <a href="https://www.macys.com/" data-navigation-id="22869" target="_blank" class="button secondary ghost"
            title="Shop Now at Macy's" data-click-category="Store Page" data-click-action="Click coupon shop now cta"
            data-click-label="Macy's">
            Shop Now
        </a>
    </div>
</div>

<div class="coupon-blk logo-blk blk no-logo">
    <ul class="coupon-info">
        <li class="coupon-desc prox-b">
            <span class="title-part">Up to 60% + Extra 15% off Designer Bath Towels.</span>
            <span class="rebate cb">
                + 3.0% Cash Back
            </span>
        </li>
        <li class="coupon-code-blk">
            <span class="coupon-code" data-clipboard-text="SHOP">Code: <span class="promo-code prox-b "
                    lang="https://www.macys.com/" data-navigation-id="22386">SHOP</span>
                <div class="copy-coupon-code-tooltip copybtn tooltip">
                    <span class="copy" data-click-category="Store Page" data-click-action="Click copy coupon"
                        data-click-label="Macy's">Click to copy</span>
                </div>
            </span>
            <span class="premium-expire expires">
                <span class="fa-clock-o expires"></span>Expires 12/16/2019
            </span>
        </li>
    </ul>