html,
body {
  height: 100%;
}

div,
p,
span {
  font-size: 16px;
}

h1 {
  font-variant: small-caps;
}

.heading-container {
  text-align: center;
  padding: 10px 0px;
}

.from-outer-wrapper {
  max-width: 600px;
  margin: 0px auto;
}

.btn-cta-wrapper {
  text-align: center;
}

.form-heading {
  padding-top: 10px;
  font-variant: small-caps;
  text-align: center;
}

.btn-style {
  font-variant: small-caps;
  font-size: 18px;
}

.message-container {
  padding: 12px;
  border-radius: 2px;
}

.validate-input {
  border: 1px solid #b50b21;
}

@media only screen and (max-width: 767px) {
  .account-dropdown-menu,
  .logo-desk {
    display: none;
  }
  .restaurant-list-wrapper {
    margin: -5px;
  }
  .right-mobile {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
  .wishlist-add-wrapper span {
    margin: 5px;
  }
}

.logo-mobile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-name {
  text-transform: capitalize;
}

.school-img-container img {
  max-width: 100%;
  max-height: 350px;
}

.school-info-wrapper {
  text-align: center;
}

.school-description {
  padding: 10px 0px;
  font-size: 18px;
}

.school-title {
  text-align: center;
  padding-bottom: 10px;
}

.restaurant-list-wrapper {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.restaurant-img-div {
  padding: 5px;
}

.restaurant-img-div img {
  max-width: 100%;
}

.restaurant-name {
  font-variant: small-caps;
  font-size: 21px;
}

.restaurant-address-span {
  font-variant: small-caps;
}

.restaurant-addres-text,
.restaurant-description {
  color: rgb(108, 115, 124);
}

.comment-area {
  border-radius: 3px !important;
}

.comment-text {
  border-radius: 12px;
  font-style: italic;
}

.comment-header {
  font-weight: bold;
}

.wishlist-add-wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
}

.wishlist-add-wrapper i {
  font-size: 22px;
  color: #d3d3d3;
  cursor: pointer;
  -webkit-transition: width 2s, height 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 2s;
}

.wishlist-add-wrapper i:hover {
  font-size: 24px;
}

.wishlist-add-wrapper i.added-to-wishlist {
  color: #f08080 !important;
}

.wishlist-add-wrapper i.upvoted {
  color: #90ee90 !important;
}

.username-text {
  font-style: italic;
  text-transform: capitalize;
}

.description-page-wrapper {
  align-items: center;
}

.resize-image {
  width: 350px;
  height: 234px;
}

.restaurant-img-outer {
  text-align: center;
}

.wishlist-wrapper {
  text-align: center;
  padding-top: 10px;
}

.account-info-wrapper label {
  font-variant: small-caps;
}

.wishlist-label-div {
  text-align: center;
  font-size: 22px;
  font-variant: small-caps;
  color: #585b5c;
  padding: 10px 0px;
}

.wishlist-row-wrap {
  max-width: 768px;
  margin: 0px auto;
}

.delete-item-wishlist {
  position: relative;
  float: right;
  right: 12px;
  top: 25px;
  cursor: pointer;
}

.delete-item-wishlist i:hover {
  font-size: 15px;
  color: #f08080;
}

.no-wishlist-exists {
  text-align: center;
  line-height: 22px;
}

.no-wishlist-section {
  text-align: center;
}

.browse-schools-cta {
  padding-top: 20px;
}

.footer-div {
  /* position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%; */
  background-color: #f8f9fa;
}

.account-info-wrapper .edit-section {
  float: right;
}

.account-info-wrapper .edit-section i {
  color: #585b5c;
  cursor: pointer;
}

.btn-account-div {
  display: none;
  text-align: center;
  padding: 10px 0px;
}

.wishlist-restaurant-img img {
  width: 350px;
  height: 234px;
}

.btn_3 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: #ff3368;
  border: 1px solid #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #ff3368;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 52, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */

.btn_3:hover {
  background-color: red;
  color: #fff;
}

/* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */

.btn_2 {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #ff3368;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  text-transform: uppercase;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* line 77, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */

.btn_2:hover {
  color: #fff !important;
  background-position: right center;
}

@media (max-width: 991px) {
  /* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .btn_2 {
    height: 50px;
    width: 140px;
    line-height: 50px;
  }
}

/* line 92, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */

.btn_4 {
  color: #ff3368;
  font-size: 15px;
  font-weight: 700;
  margin-top: 53px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  /* line 92, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .btn_4 {
    margin-top: 30px;
  }
}

/* line 105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */

.btn_4 img {
  width: 20px;
  margin-left: 15px;
}

/*=================== custom button rule start ====================*/

/* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */

.button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #edeff2;
  text-transform: uppercase;
  background-color: #ff3368;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {
  /* line 113, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_button.scss */
  .button {
    font-size: 13px;
    padding: 9px 24px;
  }
}

.breadcrumb_bg {
  background-image: url("../img/breadcrumb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 5, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb {
  position: relative;
  z-index: 1;
  text-align: left;
}

/* line 10, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb .breadcrumb_iner {
  height: 475px;
  width: 100%;
  display: table;
}

/* line 15, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item {
  display: table-cell;
  vertical-align: middle;
}

/* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
  color: #222222;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  /* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 19, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    font-size: 50px;
  }
}

/* line 42, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
  font-size: 15px;
  color: #777777;
}

/* line 47, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item span {
  margin: 0px 5px;
  font-size: 12px;
}

/* line 57, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_breadcrumb.scss */

.breadcrumb {
  margin-bottom: 0px !important;
}
